<html>
  <!-- ts 2017-12-22 -->
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ head1 }}</h1>
    <h2>Services currently available:</h2>
    {% for service in services %}
    <div><p>
      <a href="{{ rooturl }}{{ service.endpoint }}">{{ rooturl }}{{ service.endpoint }}</a>
      <b> {{ service.description }} </b>
    </p></div>
    {% endfor %}
    {% if mailtocontact %}
      <h4> To get more info, contact the <a href="mailto:{{ mailtocontact }}"> developer</a>.</h4>
    {% endif %}
  </body>
</html>